.mycol{
	background-color:rgb(37,62,146);
	color:white;
}
.mybtn{
	border-color:rgb(37,62,146);
	font-weight:bold;
	cursor: pointer;
}
.active, .mybtn:hover {
  background-color: rgb(37,62,146);
  color:white;
}
.btns{
  list-style-type: none;
  width:100%;
}

.btns li {
  display: inline-block;
}

.myrow{
	background-color:rgb(243,243,243);
	color:black;
	font-weight:bold;
	text-align:center;
}
#background{
	background-image:url(img/Black.png);
	background-repeat: no-repeat;
	background-size: 100% 950px;
}
#background1{
	background-image:url(img/chattelslavery07.jpg);
	background-repeat: no-repeat;
	background-size: 100% 450px;
	background-position-y:10px;
}
#logoo{
	width:150px;
	height:150px;
}

div.tabs li{
	background-color: rgb(37,62,146);
	color: white;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
	width:33%;
}

div.tabs li.current{
	background: rgb(238,38,27);
	color: white;
	font-weight:bold;
	display:inline-block;
	width:33%;
	margin-top:10px;
}

.tab-content{
	display: none;
	color:white;
	font-size:1.3vw;
	font-weight: bold;
	text-align:center;
}

#background2
{
	background-image:url(img/convict.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position-y:10px;
}

.tab-content.current{
	display: inherit;
}
		
.imga{
	border:1px solid white;
	width:100%;
	height:30%;
}
.cos{
	margin: auto; /* Important */ 
    text-align: center; 
}